/javascript-console-repo/target/
/javascript-console-repo/.settings/
/javascript-console-repo/.project
/javascript-console-repo/.classpath

/javascript-console-share/target/
/javascript-console-share/.settings/
/javascript-console-share/.project
/javascript-console-share/.classpath
build
bin
