/* History Manager */
#yui-history-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
}

.javascript-console {
	margin: 16px 10px 10px;
}

.javascript-console .title {
	font-size: 123.1%;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.javascript-console .jsbox {
	color:black;
	padding: 0.5em;
	white-space: pre-wrap;
}

.javascript-console .dump {
	margin-top:15px;
	width: 100%;
}

.javascript-console .dump table
{
	table-layout:fixed
}

.javascript-console .dumpTab {
	margin-top:15px;
}

.javascript-console .different-colors{
	background-color: red !important;
	color:white;
}

.javascript-console .templateInputBox {
	font-family:"Courier New", Courier, monospace !important;
	color:black;
	white-space: pre-wrap;
}

.javascript-console .textOutputBox {
	font-family:"Courier New", Courier, monospace !important;
	color:black;
	padding: 0.5em;
	white-space: pre-wrap;
}

.javascript-console .repoInfo {
	font-family:"Courier New", Courier, monospace !important;
	color:black;
	padding: 0.5em;
	white-space: pre-wrap;
}

.javascript-console .htmlOutputBox {
	padding: 0.5em;
}

.javascript-console .htmlOutputBox li {
	list-style-type: disc;
	margin-left: 1.5em;
}

.javascript-console .buttonbar {

}

.javascript-console .execute-buttonbar {
	padding-top:0.5em;
}

.javascript-console .refresh-button {
	background: url(images/arrow-circle-double.gif) center center no-repeat;
	text-indent: -4em;
	overflow: hidden;
    padding: 0 .75em;
	width: 2em;
	*margin-left: 4em;   /* IE only */
	*padding: 0 1.75em;  /* IE only */
}


.javascript-console .refresh-button-env{
	float:right;
	margin:10px;
}

.javascript-console .scriptmenu {
	display:inline;
	float:right;
}

.javascript-console .jserror {
	border:1px solid red;
	background-color:#FFE0E0;
}

.javascript-console .jsgreen {
	border:1px solid #d2edc2;
	background-color:#e2fdd2;
}

.javascript-console .header-bar
{
   margin-top:0.5em;
   margin-bottom:0.5em;
   padding:0.2em;
   height: 1.2em;
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
   font-weight: bold;
   font-size: 116%;
}

.javascript-console .executionStats {
	margin-top:0.5em;
}

.javascript-console .executionStats .hd{
    padding: 7px;
	border:solid #2647a0;
	border-width: 0 0px 1px;
	background: #2647a0;
	color: #fff;
}

.javascript-console .executionStats .bd .display-element{

}

.javascript-console .executionStats .bd .display-label{
	display: inline-block;
    width: 150px;
    padding: 5px;
}

.javascript-console .executionStats .bd .display-field{
	display: inline-block;
    padding-left: 50px;
    padding-top: 5px;
    text-indent: -50px;
    vertical-align: top;
    width: 200px;
}

.javascript-console .spinner {
	display:none;
}

.javascript-console .exportButton {
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.javascript-console .CodeMirror
{
	font-size:10pt;
}

.javascript-console .CodeMirror pre
{
    /* fix z-index so pre isn't at same z-index layer as container div of drop-down menus */
    z-index: 1;
}

.javascript-console .yui-nav {
	margin-top: 0.5em;
}

.javascript-console .yui-navset .yui-content {
	background-color:white;
}


.javascript-console div.configform {
    height:250px;
}

.javascript-console div.configform div.control {
    padding:0.5em;
}

.javascript-console div.configform span.label {
    display: inline-block;
    width: 20em;
}

.javascript-console div.configform div.control input, .javascript-console div.control select {
    position:absolute;
    left:20em;
}

.javascript-console .CodeMirror-scroll {
 /*  This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box.*/
  position: relative;
}

.javascript-console div.configform div.control div.field-container, .javascript-console div.configform div.control div.header-container  {
	margin-top: 2px;
}

.javascript-console div.configform div.control div.header-container input, .javascript-console div.configform div.control div.field-container input {
	position: static;
}

.javascript-console div.configform div.control div.field-container select {
	position: static;
	width: 70px;
	
}

.javascript-console div.configform div.control input.header-value, .javascript-console div.configform div.control input.field-name, .javascript-console div.configform div.control input.field-value {
	margin-left: 10px;
}

.javascript-console div.configform div.control div.header-ac {
	width: 200px;
}

.javascript-console .header-container .yui-ac {
	position: static;
}

.javascript-console .header-container, .javascript-console .field-container  {
	display: flex;
}

.javascript-console .header-add, .javascript-console .header-remove, .javascript-console .field-add, .javascript-console .field-remove {
	vertical-align: -7px;
	margin: 0 0.4em;
}

.cmStatusLine{
	height:20px;
}

/* for visible tablines
 see https://groups.google.com/forum/#!topic/codemirror/yiPcvADXuNU
 * */
.cm-tab {
	border-left: 1px solid rgba(255,255,255,0.2)
}

.executionStatsSimple{
	cursor: pointer;
}

.requestconfigform {
	overflow-y: auto;
	overflow-x: hidden;
}

.requestconfigform .CodeMirror {
	width: 50%;
	height: 100px;
}

.javascript-console div.configform.requestconfigform div.control input, .javascript-console div.configform.requestconfigform div.control select {
	position: static;
}

.output-tabs, #alfresco-console .output-tabs .yui-nav li a, #alfresco-console .output-tabs .yui-nav li a em {
	position: static;
}