.CodeMirror-focused .cm-matchhighlight {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	background-position: bottom;
	background-repeat: repeat-x;
}

.CodeMirror-focused .cm-matchhighlight-variable {
	background-color: #ffa;
}

.CodeMirror-focused .cm-matchhighlight-property {
	background-color: orange;
}

.CodeMirror-focused .cm-matchhighlight-def {
	background-color: #FFCC6C;
}